
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <div class="container">
        <h1 class="text-center">Anurag's Playaround</h1>
        <app-product></app-product>
        <hr/>
        <app-sentiment></app-sentiment>
        <app-weather></app-weather>
    </div><!-- /.container -->
  </body>
</html>
